@import "tailwindcss";

:root {
  /* Variáveis de cores da sua marca */
  --background: hsl(240, 17%, 95%);
  --light-brown: #CFC5B0;
  --light-gray: #eeeff2;
  --green: hsl(150 65% 55%);
  --light-green: hsl(151, 66%, 92%);
  --lilac: hsl(270 75% 55%);
  --light-lilac: hsl(269, 43%, 90%);
  --orange: hsl(35 95% 60%);
  --text-blue: #3D5564;
  --muted-foreground: hsl(260 15% 50%);

  /* Outras variáveis que você pode precisar */
  /* --fonte-principal: 'Arial', sans-serif; */
}

@layer components {
  .card {
    @apply p-6 bg-white rounded-lg border border-gray-300 shadow-sm;
  }
  .input-register-login {
    @apply w-full pl-12 h-12 text-base border border-gray-300 rounded-xl;
  }
  .table {
    @apply bg-white border-separate border-spacing-0 rounded-lg border-2 border-gray-200 overflow-hidden;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  thead tr {
    @apply text-white;
  }
  tbody tr {
    @apply border-b-2 border-solid border-gray-200;
  }
  th, td {
    @apply px-5 py-2;
    border-left: none;
    border-right: none;
  }
  tbody tr:last-child {
    border-bottom: none;
  }
}

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: var(--background);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }
}

@layer utilities {
  .text-light-gray {
    color: var(--light-gray);
  }
  .text-muted-foreground {
    color: var(--muted-foreground);
  }
  .text-light-green {
    color: var(--light-green);
  }
  .text-blue {
    color: var(--text-blue);
  }
  .text-lilac {
    color: var(--lilac);
  }
  .text-green {
    color: var(--green);
  }
  .text-orange {
    color: var(--orange);
  }
  .bg-background {
    background-color: var(--background);
  }
  .bg-light-brown {
    background-color: var(--light-brown);
  }
  .bg-lilac {
    background-color: var(--lilac);
  }
  .bg-light-lilac {
    background-color: var(--light-lilac);
  }
  .bg-orange {
    background-color: var(--orange);
  }
  .bg-green {
    background-color: var(--green);
  }
  .bg-light-green {
    background-color: var(--light-green);
  }
}
