:root {
  /* Variáveis de cores da sua marca */
  --light-brown: #CFC5B0;
  --light-gray: #f0f1f5;
  --light-green: rgb(150 65% 55%);
  --lilac: rgb(270 75% 55%);

  /* Outras variáveis que você pode precisar */
  /* --fonte-principal: 'Arial', sans-serif; */
}

@import "tailwindcss";

.bg-light-brown {
  background-color: var(--light-brown);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-lilac {
  background-color: var(--lilac);
}
.bg-light-green {
  background-color: var(--light-green);
}
.bg-lilac {
  background-color: var(--lilac);
}
.table {
  @apply bg-white border-separate border-spacing-0 rounded-lg border-2 border-gray-200 overflow-hidden;
  border-radius: 0.5rem;
  overflow: hidden;
}
thead tr {
  @apply bg-gray-700 text-white;
}
tbody tr {
  @apply border-b-2 border-solid border-gray-200;
}
th, td {
  @apply px-5 py-2;
  border-left: none;
  border-right: none;
}
tbody tr:last-child {
  border-bottom: none;
}